# CareFlow AI+ Environment Variables
# Get your Gemini API Key here: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBWu09tMaPmwd6fJ2BawcBZ3z7vLuas75Q
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=notcincai2.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=notcincai2
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=notcincai2.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=819388241704
NEXT_PUBLIC_FIREBASE_APP_ID=1:819388241704:web:7dfb128d896a05382fa21d
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-0XY84TP6SY
